body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

h1 {
	font-weight: bold;
	font-size:5rem;
}

h2 {
	font-size:2rem;
	color:gray;
}
.container {
	padding:50px 50px;
	text-align:center;
}

.board-style {
	border: 4px solid blue;
	borderRadius: 10px;
	width: 250px;
	height:250px;
	margin: 0 auto;
	display: grid;
	grid-template: repeat(3,1fr) / repeat(3,1fr);
}

.game-style {
	padding-top:50px;
	width:200px;
	margin: 20px auto;
};

.square-style {
	background: lightblue;
	border: 2px solid;
	font-size: 30px;
	cursor: pointer;
	outline: none;

}

 .historybutton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
 }


.historybutton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.historybutton:active {
	position:relative;
	top:1px;
}



button.square[data-pro="X"] {
  color: black;
  font-weight:bold;
  font-size:3rem;
}

button.square[data-pro="O"] {
  color: red;
  font-weight:bold;
  font-size:3rem;
}

.container2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

